
.menu {
    background-color: #36343f;
    color: white;
    height: 1135px;
    margin-top: -20px;
    padding: 0;
}

ul li {
    list-style: none;
}
.ul-start {
    padding: 0;
    margin: 0;
}

 a,
h1 {
    color: white;
} 
h1 {
    
    margin-top: -22px;
    padding-top: 20px;
    font-family: myfont;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}


#view {
    margin-left: -8px;
    margin-right: -15px;
    padding: 0;
    border-left: 1px solid black;
}

.gray {
    background-color: #53535b;
    padding-bottom: 15px;
}

.inner {
    margin: 20px;
}

.mainContent {
    height: 500px;
    background-color: #E6E6E6;
    width: 650px;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px 5px 2px 2px;
}

.tabela {

    background-color: white;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -3px;
    padding: 0;
}

.header {
    border-radius: 7px 7px 0px 0px;
    background-color: #dadada;
    padding: 20px;
    margin: 0;
    margin-left: 1px;
    margin-right: 1px;
    background-image: linear-gradient(#dadada, #c4c2c2);
}
.footer {
    border-radius: 0px 0px 7px 7px;
    background-color: #dadada;
    padding: 20px;
    margin: 0;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
}
.header-font {
    font-size: 14px;
    padding: 10px;
}
.first-row{
    background-color: #dadada;
    padding: 20px;
    margin: 0;
}


.glyphicon-search {
    color: white;
    padding-right: 30px;
    padding-left: 10px;
}

input {
    margin-top: 10px;
    padding-right: 5px;
    background-color: #818680;
    width: 400px;
}

.tabela a {
    color: black;
}

.main-content {
    padding: 20px;
    background-color: #818086;
    margin-top: -20px;
    /* height: 1400px; */
    box-sizing: border-box;
}

.result-table {
    width: 100%;
    background-color: white;
}

.first {
    background-color: yellow;
}

.second {
    background-color: gray;
}

.third {
    background-color: orange;
}

.fourth {
    background-color: lightgreen;
}

.fifth {
    background-color: lightblue;
}

.sixth {
    background-color: lightpink;
}

.seventh {
    background-color: lightsalmon;
}

.eighth {
    background-color: lightyellow;
}

.ninth {
    background-color: plum;
}

.tenth {
    background-color: lightcoral;
}

.other {
    background-color: darkgray;

}

.row {
    padding: 0;
    margin: 0;
}

#navigation {
    padding: 0;
    /* margin-top:-15px;
    margin-left: -2px; */
    box-sizing: border-box;
}



.li-start {
    border-bottom: 1px solid black;
    padding: 15px;
    box-sizing: border-box;
}

.li-start a {
    padding: 15px;
    text-decoration: none;
    font-family: myfont;
    font-size: 16px;
    font-style: italic;
}

.li-start:hover {
    background-color: #222126;
}

.li-start img {
    display: inline-block;
    margin: 0 15px;
    /* text-align: left; */

}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    background-color: #36343f;
    /* background-image: linear-gradient(#36343f, black); */
    width: 100%;
    overflow-y: scroll;
}

.black-font {
    color: #000;
    font-weight: bold;
}

.gray-font {
    color: gray;
    font-weight: bold;
}

.gray-th {
    background-color: #dadada;
   
}

.dugme-dark {
    padding: 0;
    background-color: black;
    margin-left: 15px;
    height: 50px;
}

a:hover {
    text-decoration: none;
}

.mini-table {
    margin-left: 10px;
    width: 100%;
}

.mini-table th {
    padding-bottom: 15px;
}

.mini-table,
.mini-table td,
.mini-table th {
    border: none;
    padding: 2px;

}

#secondary {
    padding: 10px 0;
    border-bottom: 1px solid black;
    margin-right: -13px;
}

.search {
    color: #fff;
}

.btn-gray {
    background-color: #53535b;
}

@font-face {
    font-family: "myfont";
    src: url("/css/D3RoadsterismItalic.woff") format('woff');
}

@font-face {
    font-family: "myfont";
    src: url("/css/D3RoadsterismItalic.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "myfont";
    src: url("/css/D3RoadsterismItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "myfont";
    src: url("/css/D3RoadsterismItalic.woff") format('woff');
    font-style: italic;
}

.clear {
    clear: both;
}

option {
    color: #000;
}

.table-race{
    float:left;
    width: 40%; 
    margin-right: 40px;
}
.table-race1{
    float:left;
    width: 55%; 
    
}
#choosenYear{
    width: 30%;
}

@media screen and (max-width: 768px) {
    .menu {
        background-color: #36343f;
        color: white;
        height: 470px;
        margin-top: -20px;
        padding: 0;

    }
    ul li form label{
        display:block;
    }

    .menu img[src^="img/f1-feed.jpg"] {
        width: 50%;
        margin-left: 25%;
    }

    #img-race{
        width: 250%;
    }
    .li-start {
        float: left;
        margin-left: 30px;
    }

    .navbar-nav {
        padding-left: 40px;
    }

    .menu-responsive {
        height: 220px;
        
    }

    .menu-responsive2 {
        margin-top: -200px;
        margin-bottom: -180px;
    }
    .menu-responsive3 {
        margin-top: -180px;
    }
   table.result-table{
        width: 100%;
    }
    .mini-table tr td:first-child{
        padding-left: 300px;
        padding-right: 20px;
        width: 25%;

    }
    .table-race1{
        margin-top: 30px;
    }
    .menu-race{
        margin-bottom: -50px;
    }
}
/* 
.header1 {
    border-radius: 7px 7px 0px 0px;
    background-color: #dadada;
    padding: 10px;
    margin: 0;
    background-image: linear-gradient(#dadada, #c4c2c2);
    font-size: 14px;
} */

/* .gray-th th {
    border: none;
    padding: 5px;
} */

/* BOOTSTRAP */
 /* .container-fluid {
   
    margin-right: auto;
    margin-left: auto;
} 
 .row {
    padding: 0;
    margin: 0;
} 
div {
    display: block;
}  */
 /* @media (min-width: 1200px)
.col-lg-2 {
    width: 16.66666667%;
    float: left;
}  */
/* @media (min-width: 992px)
.col-md-3 {
    width: 25%;
    float: left;
} */
/* @media (min-width: 768px)
.col-sm-3 {
    width: 25%;
    float: left;
} */
 /* .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} 

 .navbar-inverse {
    background-color: #222;
    border-color: #080808;
}  */
/* @media (min-width: 768px)
.navbar-header {
    float: left;
} */
/* @media (min-width: 768px)
.navbar-nav {
    float: left;
    margin: 0;
} */
/* @media (min-width: 768px)
.navbar-right {
    float: right!important;
    margin-right: -15px;
} */
/* BOOTSTRAP */


/* .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .navbar-inverse {
    background-color: #222;
    border-color: #080808;
  }
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  .navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  } */
  /* BOOTSTRAP */
/* POKUSAJ ZAMENE SA TABELOM */
/* 
#view {
    /* margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px; */
    /* padding: 0;
    border-left: 1px solid black;
    width: 186%;
} */
/* .up{
    padding: 0;
} */ 



/* NAVIGACIJA css */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
option {
    color: #000;
    padding-top: 10px;
} */