menu{
    height: 500px;
    background-color:  #36343f;
    width: 150px;
    color: white;
}
/* li a{ */
    /* color: white;
} */

.mainContent{
    height: 500px;
    background-color:  #E6E6E6;
    width: 650px;
}
.header{
    background-color:#e3e3e3;
}
table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px 100px 5px 2px;
   
  }
  .glyphicon-search{
      color: white;
      padding: 10px;
  }
  input{
      margin-top: 10px;
      padding-right: 5px;
      background-color: #53535b;
  }
/* a{
    display: block;
    padding: 5px;
} */
