<section id="main">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a>
          </div>
          <ul class="nav navbar-nav">
                <a class="active" href="#home">Drivers</a>
                <button class="btn btn-danger navbar-btn"><a class="active" href="#home">{{x.Driver.givenName}} {{x.Driver.familyName}}</a></button>
           
          </ul>
         
        </div>
      </nav>
    <a href="./#/drivers"> Back to drivers list</a>
    <nav id="secondary" class="main-nav">
      <div class="driver-picture">
        <div class="avatar">
          <img ng-src="img/drivers/{{x.Driver.driverId}}.png" />
          <img ng-src="img/flags/{{x.Driver.nationality}}.png" />
          {{x.Driver.givenName}} {{x.Driver.familyName}}
        </div>
      </div>
      <div class="driver-status">
        Country: {{x.Driver.nationality}}   <br/>
        Team: {{x.Constructors[0].name}}<br/>
        Birth: {{x.Driver.dateOfBirth}}<br/>
        <a href="{{x.Driver.url}}" target="_blank">Biography</a>
      </div>
    </nav>
  
    <div class="main-content">
      <table class="result-table">
        <thead>
          <tr><th colspan="5">Formula 1 2015 Results</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Grid</td> <td>Race</td>
          </tr>
          <tr ng-repeat="race in races">
            <td>{{race.round}}</td>
            <td><img  src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
            <td>{{race.Results[0].Constructor.name}}</td>
            <td>{{race.Results[0].grid}}</td>
            <td>{{race.Results[0].position}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </section>