<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a>
      </div>
      <ul class="nav navbar-nav">
            <button class="btn btn-danger navbar-btn"><a class="active" href="#home">Drivers</a></button>
        <!-- <li class="active"><a href="#">Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
            
            <input type="text" placeholder="Search..."><span class="glyphicon glyphicon-search"></span>
          </ul>
    </div>
  </nav>
<h1> {{msg}}</h1>
<table>
<tr class="header">Drivers Championships standindgs -2015</tr>

<tr ng-repeat="x in content">
        <td>{{ $index + 1 }}</td>
  <td><img ng-src="img/flags/{{x.Driver.nationality}}.png"><a href="#!/drivers/{{x.Driver.driverId}}">
    
    {{x.Driver.givenName}}&nbsp;{{x.Driver.familyName}}
</a></td> 
 <td>{{ x.Constructors[0].name }}</td>
 <td>{{x.points}}</td>
</tr>
</table>



<!-- <input type="text" ng-model="nameFilter" placeholder="Search">
<table>
    <thead>
        <tr>
            <th colspan="4">Drivers Championship Standings</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="driver in driversList | filter: searchFilter">
            <td>{{$index + 1}}</td>
            <td>
                <img src="img/flags/{{driver.Driver.nationality}}.png" />
                <a href="#/drivers/{{driver.Driver.driverId}}">
                    {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                </a>
            </td>
            <td>{{driver.Constructors[0].name}}</td>
            <td>{{driver.points}}</td>
        </tr>
    </tbody>

</table> -->