<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a>
        </div>
        <ul class="nav navbar-nav">
            <button class="btn btn-danger navbar-btn"><a class="active" href="#home">Races</a></button>

        </ul>
        <ul class="nav navbar-nav navbar-right">

            <input type="text" placeholder="Search..."><span class="glyphicon glyphicon-search"></span>
        </ul>
    </div>
</nav>
<h1> {{msg}}</h1>
<table>
    <tr class="header">Constructors Championships standindgs -2015</tr>

    <tr ng-repeat="race in races">
        <td>{{ $index + 1 }}</td>
        <td>{{race.raceName}}</td>
        <td>{{race.Circuit.circuitName}}</td>
        <td>{{race.date}}</td>
        <td>{{race.Results[0].Driver.givenName+" "+race.Results[0].Driver.familyName}}</td>

        <!-- <td><img ng-src="img/flags/{{race.Circuit.Location.country}}+n.png"><a href="#!/races/{{team.Constructor.constructorId}}">{{race.Circuit.circuitName}}
</a></td> -->
        <!-- <td><a href="https://en.wikipedia.org/wiki{{team.Constructor.name}}">Details</a></td>
 <td>{{team.points}}</td> -->
    </tr>
</table>