<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a>
      </div>
      <ul class="nav navbar-nav">
            <button class="btn btn-danger navbar-btn"><a class="active" href="#home">Teams</a></button>
        <!-- <li class="active"><a href="#">Home</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
            
            <input type="text" placeholder="Search..."><span class="glyphicon glyphicon-search"></span>
          </ul>
    </div>
  </nav>
<h1> {{msg}}</h1>
<table>
<tr class="header">Constructors Championships standindgs -2015</tr>

<tr ng-repeat="team in teams">
        <td>{{ $index + 1 }}</td>

      
  <td><img ng-src="img/flags/{{team.Constructor.nationality}}.png"><a href="#!/teams/{{team.Constructor.constructorId}}">{{team.Constructor.name}}
</a></td>
 <td><a href="https://en.wikipedia.org/wiki/{{team.Constructor.name}}">Details <span class="glyphicon glyphicon-new-window"></span></a></td>
 <td>{{team.points}}</td>
</tr>
</table>