<h1>Bla {{msg}}</h1>

<section id="main">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a>
          </div>
          <ul class="nav navbar-nav">

                <a class="active" href="#home">Drivers</a>
 
                <button class="btn btn-danger navbar-btn"><a class="active" >{{team.Constructor.name}}</a></button>
          
          </ul>
         
        </div>
      </nav>
    <a href="./#/teams"> Back to teams list</a>
    <nav id="secondary" class="main-nav">
      <div class="team-picture">
        <div class="avatar">
        
            
          <img ng-show="driver" src="#" />
          <img ng-src="img/flags/{{team.Constructor.nationality}}.png"/><br/>
          
        </div>
      </div>
      <div class="driver-status">
        Country: {{team.Constructor.nationality}}   <br/>
        Position: {{team.position}}<br/>
        Points: {{team.points}}<br/>
        History<br/>
        
      </div>
    </nav>
  
    <div class="main-content">
      <table class="result-table">
        <thead>
          <tr><th colspan="5">Formula 1 2015 Results</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Round</td> <td>Grand Prix</td> <td>Team</td> <td>Vettel</td> <td>Webster</td><td>Points</td>
          </tr>
          <tr ng-repeat="race in races">
            <td>{{race.round}}</td>
            <td><img  src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
            <td>{{race.Results[0].Constructor.name}}</td>
            <td>{{race.Results[0].grid}}</td>
            <td>{{race.Results[0].position}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </section>