<div class="all">
  <section id="main">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid move">

        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
          <button class="btn btn-gray navbar-btn"> <a href="#"> <span class="glyphicon glyphicon-home"></span>
              F1-Fedeer</a></button>
          <button class="btn btn-gray navbar-btn"> <a class="active" href="#!/drivers">Drivers</a></button>
          <button class="btn btn-primary navbar-btn"><a class="active" href="{{x.Driver.url}}">{{x.Driver.givenName}}
              {{x.Driver.familyName}}</a></button>
        </ul>
      </div>
    </nav>
    <div class="col-lg-2 col-md-3 col-sm-3 menu menu-responsive">
      <nav id="secondary" class="main-nav">

        <table class="mini-table">
          <tr>
            <th> <img ng-src="img/drivers/{{x.Driver.driverId}}.png"></th>

            <th> <img ng-src="img/flags/{{x.Driver.nationality}}.png" /><br>
              {{x.Driver.givenName}} {{x.Driver.familyName}}</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Country: </td>
            <td>{{x.Driver.nationality}}</td>
          </tr>
          <tr>
            <td>Team:</td>
            <td>{{x.Constructors[0].name}}</td>
          </tr>
          <tr>
            <td>Birth:</td>
            <td>{{x.Driver.dateOfBirth}}</td>
          </tr>
          <tr>
            <td>Biography:</td>
            <td><a href="{{x.Driver.url}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></td>
          </tr>
        </table>

      </nav>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-9">
      <div class="row">
        <div class="main-content">
          <h4 class="header gray-font header-font">Formula 1 {{year}} Results</h4>
          <table class="result-table">
            <thead>

            </thead>
            <tbody>
              <tr class="first-row">
                <th>Round</th>
                <th>Grand Prix</th>
                <th>Team</th>
                <th>Grid</th>
                <th>Race</th>
              </tr>
              <tr ng-repeat="race in races">
                <td class="black-font">{{race.round}}</td>
                <td class="gray-font"><img src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}
                </td>
                <td class="gray-font">{{race.Results[0].Constructor.name}}</td>
                <td class="black-font">{{race.Results[0].grid}}</td>
                <td class="black-font" ng-class="getClass(race.Results[0].position)">{{race.Results[0].position}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a> -->
<!-- <tr class="header" >
                <th colspan="5" class="gray-font">Formula 1 2013 Results</th>
              </tr> -->