<div >

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
      
      </div> -->
      <ul class="nav navbar-nav">
            <button class="btn btn-gray navbar-btn"> <a href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a></button>
            <button class="btn btn-primary navbar-btn"><a class="active" href="#home">Drivers</a></button>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
         
        <input type="text" class="search" placeholder="Search..." ng-model="nameFilter"><span class="glyphicon glyphicon-search" ng-click="filter = nameFilter"</span>
          </ul>
    </div>
  </nav>  
  <div class="gray">
      <div class="inner">
<h1> {{msg}}</h1>
<h4 class="header gray-font ">Drivers Championships standindgs - {{sezona}}</h4>

<table class="tabela">
   
<tr ng-repeat="x in content| filter : searchFilter">
        <td class="black-font">{{ $index + 1 }}</td>
  <td class="gray-font"><img ng-src="img/flags/{{x.Driver.nationality}}.png"><a class="gray-font" style="color:gray" href="#!/drivers/{{x.Driver.driverId}}">
    
    {{x.Driver.givenName}}&nbsp;{{x.Driver.familyName}}
</a></td> 
 <td class="gray-font">{{ x.Constructors[0].name }}</td>
 <td class="black-font">{{x.points}}</td>
</tr>
<!-- <tr class="gray-font-bottom"></tr> -->
</table>
<h4 class="footer"></h4>

</div>
</div>
</div>

 <!-- <select ng-model="selectedYear" ng-change="get(selectedYear)"> -->
                  <!-- <select ng-model="selectedYear"> -->
              <!-- <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
              </select> --> -->
              <!-- <select ng-options="year in years" 
              ng-model="selectedYear" ng-change="get()"></select> -->
   <!-- ovo je navigacija bez bootstrapa
<ul>
    <li> <button class="btn btn-gray navbar-btn"> <a href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a></button></li>
    <li><button class="btn btn-primary navbar-btn"><a class="active" href="#home">Drivers</a></button></li>
    <li style="float:right"> <input type="text" class="search" placeholder="Search..." ng-model="nameFilter"><span class="glyphicon glyphicon-search" ng-click="filter = nameFilter"</span></span></li>
    <li style="float:right"> <select ng-model="selectedYear" ng-change="get(selectedYear)">
        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
        </select></li>
      
  </ul>   -->