<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
            <button class="btn btn-gray navbar-btn"> <a href="#"> <span class="glyphicon glyphicon-home"></span>
                    F1-Fedeer</a></button>
            <button class="btn btn-primary navbar-btn"><a class="active" href="#home">Races</a></button>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <input type="text" class="search" placeholder="Search..." ng-model="raceFilter"><span
                class="glyphicon glyphicon-search"></span>
        </ul>
    </div>
</nav>
<div class="gray">
    <div class="inner">
        <h1> {{msg}}</h1>
        <h4 class="header gray-font">Race Calendar - {{sezona}}</h4>
        <table class="tabela">

            <tr class="first-row">
                <th>Round</th>
                <th>Grand Prix</th>
                <th>Circuit</th>
                <th>Date</th>
                <th>Winner</th>
            </tr>

            <tr ng-repeat="race in races| filter : searchFilter">
                <td class="black-font">{{ $index + 1 }}</td>
                <td class="gray-font"><img ng-src="img/flags/{{race.Circuit.Location.country}}.png"><a
                        style="color:gray" href="#!races/{{race.round}}"> {{race.raceName}}</a></td>
                <td class="gray-font">{{race.Circuit.circuitName}}</td>
                <td class="black-font">{{race.date}}</td>
                <td class="gray-font"><img
                        ng-src="img/flags/{{race.Results[0].Driver.nationality}}.png">{{race.Results[0].Driver.givenName+" "+race.Results[0].Driver.familyName}}
                </td>
            </tr>
        </table>
        <h4 class="footer gray-font "></h4>
    </div>

</div>
<!-- <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a> -->
<!-- <select ng-model="selectedYear" ng-change="get(selectedYear)">
                <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select> -->
<!-- <td><img ng-src="img/flags/{{race.Circuit.Location.country}}.png"><a href="#!races/{{race.Circuit.circuitId}}"> {{race.raceName}}</a></td> -->