<section id="main">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       
      </div>
      <ul class="nav navbar-nav">
        <button class="btn btn-gray navbar-btn"> <a href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a></button>
        <button class="btn btn-gray navbar-btn"><a class="active" href="#!/races">Races</a></button>
        <button class="btn btn-primary navbar-btn"><a class="active" href="{{race.url}}">{{race.raceName}}</a></button>

      </ul>

    </div>
  </nav>
  <div class="col-lg-2 col-md-3 col-sm-3 menu menu-race">
    <nav id="secondary" class="main-nav">
      <table class="mini-table">
        <tr>
          <td> <img ng-src="img/flags/big/{{race.Circuit.Location.country}}.png" id="img-race"/></td>

        </tr>
        <tr>
          <td colspan="2"> {{race.raceName}}</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>Country: </td>
          <td>{{race.Circuit.Location.country}}</td>
        </tr>
        <tr>
          <td>Location:</td>
          <td>{{race.Circuit.Location.locality}}</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>{{race.date}}</td>
        </tr>
        <tr>
          <td>Full Report:</td>
          <td><a href="#!/races" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></td>
        </tr>
      </table>

    </nav>
  </div>
  <div class="col-lg-10 col-md-9 col-sm-9">
    <div class="row">
      <div class="main-content">
      
            <table class="result-table table-left table-race" >
            <!-- <h4 class="header1 gray-font">Qualifying Results</h4> -->
         
          <thead>
            <tr class="header gray-font header-font">
              <th colspan="5" class="gray-font">Qualifying Results</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gray-th">
              <th>Pos</th>
              <th>Driver</th>
              <th>Team</th>
              <th>Best time</th>
            </tr>

            <tr ng-repeat="qresult in qResults">
              <td class="black-font">{{qresult.position}}</td>
              <td class="gray-font"><img
                  ng-src="img/flags/{{qresult.Driver.nationality}}.png" />&nbsp;{{qresult.Driver.familyName}}</td>
              <td class="gray-font">{{qresult.Constructor.name}}</td>
              <td class="black-font">{{bestTime(qresult)}}</td>

            </tr>
          </tbody>
        </table>
       
            <table class="result-table table-right table-race1" >
          <thead>
            <tr class="header gray-font header-font">
              <th colspan="5" class="gray-font">Race Results</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gray-th">
              <th>Pos</th>
              <th>Driver</th>
              <th>Team</th>
              <th>Result</th>
              <th>Points</th>
            </tr>

            <tr ng-repeat="result in results">
              <td class="black-font">{{result.position}}</td>
              <td class="gray-font"><img
                  ng-src="img/flags/{{result.Driver.nationality}}.png" />&nbsp;{{result.Driver.familyName}}</td>
              <td class="gray-font">{{result.Constructor.name}}</td>
              <td class="black-font">{{result.Time.time}}</td>
              <td class="black-font" ng-class="getClass1(result)">{{result.points}}</td>
            </tr>
          </tbody>
        </table>
        <p class="clear"></p>
      </div>
    </div>
  </div>
</section>
 <!-- <table class="result-table table-right" style="float:left;width: 55%; "> -->
  <!-- <table class="result-table table-left table-race" style="float:left;width: 40%; margin-right: 40px;"> -->