<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       
      </div>
      <ul class="nav navbar-nav">
          <button class="btn btn-gray navbar-btn"> <a href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a></button>
            <button class="btn btn-primary navbar-btn"><a class="active" href="#home">Teams</a></button>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
       
            <input type="text" class="search" placeholder="Search..." ng-model="teamFilter"><span class="glyphicon glyphicon-search"></span>
          </ul>
    </div>
  </nav>
  <div class="gray">
      <div class="inner">
<h1> {{msg}}</h1>
<h4 class="header gray-font">Constructors Championships standindgs - {{sezona}}</h4>
<table class="tabela">


<tr ng-repeat="team in teams| filter : searchFilter">
        <td class="black-font">{{ $index + 1 }}</td>

      
  <td class="gray-font"><img ng-src="img/flags/{{team.Constructor.nationality}}.png"><a style="color:gray" class="gray-font" href="#!/teams/{{team.Constructor.constructorId}}">{{team.Constructor.name}}
</a></td>
 <td class="gray-font"><a  style="color:gray" href="https://en.wikipedia.org/wiki/{{team.Constructor.name}}">Details <span class="glyphicon glyphicon-new-window"></span></a></td>
 <td class="black-font">{{team.points}}</td>
</tr>
</table>
<h4 class="footer"></h4>
</div>
</div>
 <!-- <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a> -->
   <!-- <li class="active"><a href="#">Home</a></li> -->
    <!-- <select ng-model="selectedYear" ng-change="get(selectedYear)">
          <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
          </select> -->