

<section id="main">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid move">
          <div class="navbar-header">
           
          </div>
          <ul class="nav navbar-nav">
              <button class="btn btn-gray navbar-btn"> <a href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a></button>
              <button class="btn btn-gray navbar-btn"><a class="active" href="#!/teams">Teams</a></button>
 
                <button class="btn btn-primary navbar-btn"><a class="active" href="{{team.Constructor.url}}">{{team.Constructor.name}}</a></button>
          
          </ul>
         
        </div>
      </nav>
      <div  class="col-lg-2 col-md-3 col-sm-3 menu menu-responsive2">
    <nav id="secondary" class="main-nav">
        <table class="mini-table">
            <tr>
              <td>  <img ng-src="img/teams/{{team.Constructor.constructorId}}.png" width="50px" height="50px"/></td>
              
    <td> <img ng-src="img/flags/{{team.Constructor.nationality}}.png"/><br>
      {{team.Constructor.name}}</td>
            </tr>
            <tr><td></td></tr>
            <tr><td>Country: </td> <td>{{team.Constructor.nationality}}</td></tr>
            <tr><td>Position:</td><td>{{team.position}}</td></tr>
            <tr><td>Points:</td><td>{{team.points}}</td></tr>
            <tr><td >History:</td> <td><a href="{{team.Constructor.url}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></td></tr>
          </table>
      
    </nav>
      </div>
    <div class="col-lg-10 col-md-9 col-sm-9">
        <div class="row">
    <div class="main-content">
      <table class="result-table">
        <h4 class="header gray-font header-font"">Formula 1 {{year}} Results</h4>

       
        <tbody>
          <tr class="first-row">
            <th>Round</th> <th>Grand Prix</th><th>{{results[0].Driver.familyName}}</th> <th>{{results[1].Driver.familyName}}</th><th>Points</th>
          </tr>
          <tr ng-repeat="race in competRaces">
            <td class="black-font">{{race.round}}</td>
            <td class="gray-font"><img  src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
            <td class="black-font" class="black-font" ng-class="getClass(race.Results[0].position)">{{race.Results[0].position}}</td>
            <td class="black-font" ng-class="getClass(race.Results[1].position)">{{race.Results[1].position}}</td>
            
            <td class="black-font">{{(race.Results[0].points*1) + (race.Results[1].points*1)}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </section>
   <!-- <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home"></span> F1-Fedeer</a> -->

 <!-- <thead>
          <tr><th colspan="5" class="gray-font">Formula 1 2013 Results</th></tr>
        </thead> -->